.herop {
    width: 100vw;
    height: 100vh;
position: absolute;
    object-fit: cover;
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   top: 0;
   transition: all 0.1s ease;
   z-index: 10000000000000000000000000000;}
   .herop svg{
    left: -100%;
    display: flex;
    position: sticky;
    width: 80%;
  top: 10%;
  height: 70%;
  }
  .herop img {
  width: auto;
  height: 100%;

}
.loadingtext{
  position: absolute;
font-size: 2rem;
top: 10%;
}