.first-about{
    position :relative;
    width: 100vw;
    height: 200vh;
 
    background-color:var(--textcolor2) ;
    color:var(--textcolor2) ;
    z-index: 1;
    display: flex;
    flex-direction: column;
align-items: center;
}



.disc1{
    height: 200vh;
    padding: 0 3%;
background-color: #ffe4c4;
width: 90%;
    font-size:1.4vw;
    letter-spacing: 1px;
    font-weight: 500;
position: relative;

}

.disc1 .pacanim
{
    display: flex;
    position: sticky;
    top:82%;
}
.pacman1{background-image: url(../../../assets/200w.gif);}
.pacman2{background-image: url(../../../assets/Pink-ghost-pac-man-38898316-100-100.gif);}
.pacman3{background-image: url(../../../assets/pacman.gif);}

.pacman{

width: 20%;
    padding-right: 15%;
    height: 13vh;
    background-repeat: no-repeat;    
background-size: contain;
}

.pacman::before{
    opacity: 0.2;

    content: '';
    background-image: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
    bottom: -102%
    ;background-repeat: no-repeat;    
background-size: contain;
transform: scaleY(-1);
}
.disc1 .pargraph{
    position: sticky;
    top:10%;
    display: flex;
    text-align: justify;
}

.disc1 .pargraph .text{
    margin-bottom: 100%;
position: absolute;
top: 0;
    width: 80%;
    padding: 2% 2%;
   height: 26vw;
    border: 4px solid black;
}
.disc1 .pargraph .text1{right: 17%; }
.disc1 .pargraph .text2{right: 18%;}
.disc1 .pargraph .text3{right: 19%;}
.disc1 .pargraph .text4{right: 20%;    background-color: rgb(255, 255, 255);
}
.disc1 .pargraph #images{
    width: 40%;
   
}
