.main-about {
    position: relative;
    min-height: 100vh;
    width: 100vw;
 transition: all 0.1s ease;
    background-color:black;
    display: flex;
    flex-direction: column;
 
 
  } 
  
 .progress{
  position: sticky;
  bottom:50px;
  height: 50px;
  width: 100%;
  z-index: 600000000;
  background-color: black;
 }

  #placeholder{ width: 100vw;
 height: 100vh;
position: static
;
overflow: hidden;
}
#placeholder img{
width: 100%;
height: 100%;
filter: blur(10px);
position: absolute;
object-fit: cover;
}
