.overlay {
  position: relative;
 height: 100vh;
 min-height:550px;
  width: 100%;
background-color: var(--backcolor2);
  display: flex;
  overflow: hidden;
  perspective: 1000px;

  
}

.hometext{
font-size: 18px;
  position: absolute;
  top: 30%;
  left:6%;
  width: max-content;
  }
  .tiltcard{
  position: absolute;
  top: 35vh;
transition: all 0.3s linear;
      right: 5%;
      width: max-content;
      height: max-content;
    }
    .tiltcard:hover{top: 25vh;
    }
  .contactbutton{ 
    position: absolute;
    top:65%;
    left:20%;
    text-decoration: none;

  }
  .cv{
    position: absolute;
    top:78%;
    display: flex;
    width: 150px;
    height: 40px;
    text-align: center;
    left:20%;
    color: rgb(212, 212, 212);
    text-decoration: none;
font-size: 0.85rem;
    font-variant: small-caps;
  }

  .cv img{
    width:   30%;
  }
  .cv h3 {top: -7px; position: relative;}

.wavyanimation{
  position: absolute;
  display: flex;
  width: 100%;
height: 100%;

transition: all 0.3s ease-in ;


}

.wavyanimation .wave{
left: 0;
top: 0;
width: 100%;
height: 100%;
background: rgba(3, 25, 43, 0.452);
transition: all 0.5s ease;

}

.wavyanimation .wave::before,
.wavyanimation .wave::after{
content: '';
position: absolute;
width: 250%;
height: 400%;
top: -25%;
left: -200%;
transform: translate(-50%,75%);

}
.wavyanimation .wave::before{
border-radius: 47%;
background:rgba(211, 211, 211, 0.408);
animation: waves 15s linear infinite;
}



.wavyanimation .wave::after{
border-radius:50%;
background: var(--backcolor2);
animation: waves 15s linear infinite;

}
.discreption{
  display: none;
}
@keyframes waves{
0%{
  transform: translate(50%, -75%) rotate(-20deg);
}
50%{
  transform: translate(50%, -75%) rotate(20deg);
}
100%{
  transform: translate(50%, -75%) rotate(-20deg);
}
}

@media  (max-width: 600px){
  .tiltcard{
display: none;    
    }
    .hometext{top: 22%;}
    .discreption{
      display: block;
      position: absolute;
      text-align: justify;
      font-size: 1em;
padding: 5%;   
   top: 40%;
      height: max-content;
      z-index: 2000;
    }
    .discreption h4{
      font-size: 1.4rem;
      color: #474747;
      
    }
    .contactbutton{
      left: 33%;
    }
    .cv{
    left: 33%;}
  


  .wavyanimation .wave::before,
.wavyanimation .wave::after{
width: 400%;

top: -25%;
left: -350%;}
      }

      @media  (max-width:450px){
        .wavyanimation .wave::before,
      .wavyanimation .wave::after{
      width: 600%;
      
      top: -25%;
      left: -550%;}
      .discreption{font-size: 0.7em;
            }}


            @media  (min-height: 1000px){
              .tiltcard{
            display: none;    
                }
                .hometext{top: 22%;}
                .discreption{
                  display: block;
                  position: absolute;
                  text-align: justify;
                  font-size: 2em;
            padding: 5%;   
               top: 40%;
                  height: max-content;
                  z-index: 2000;
                }
                .discreption h4{
                  font-size: 2.4rem;
                  color: #474747;
                  
                }
                .contactbutton{
                  left: 38%;
                  transform: translateX(-50%);
                  top:70%;
                }
              .cv{left: 38%;}
            
            
              .wavyanimation .wave::before,
            .wavyanimation .wave::after{
            width: 400%;
            
            top: -25%;
            left: -350%;}
                  }
                  @media  (max-height: 600px){
                    .hometext{top:20%}}
