

.blureffect{

 background-color: transparent;

}
.hero {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   transition: all 0.3s ease;
   z-index: 10;}

  
  

.aboutheadertext{
  
  transition: all 0.3s ease;

  font-size:5vw; 
  font-weight: 500;
  top: 28vh;  
  
  }
  .aboutheadertext h2{   transition: all 0.3s ease;

   color: transparent;
   -webkit-text-stroke-color: rgba(0, 0, 0, 0.616);
  -webkit-text-stroke-width:2px ;
  }
  
  



  


    .hero svg{   transition: all 0.3s ease;

        display: flex;
        position: sticky;
        width: 80%;
      top: 10%;
      height: 70%;
      }
  

  
  .blur-mask {   transition: all 0.3s ease;

    width: 100vw;
    height: 120vh;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    z-index: 5;
    transition: all 0.3s ease;
   background-color: rgba(240, 248, 255, 0.11);
  }
  

  
  
  
  
  
  
  
  
   #scrolldown{   transition: all 0.3s ease;

    position: absolute;
    left: 0%;
    top:70%;
    width: 50%;
   }